.not-btn {
    border-color: white;
    background-color: black;
    color: red;
    font-size: 25px;
}

.not-btn :hover {
    border-color: white;
    background-color: black;
    color: red;
    font-size: 25px;
}

.Snapshot-btn {
    border-color: white;
    background-color: black;
    color: red;
    font-size: 18px;
}

.Snapshot-btn:hover {
    border-color: red;
    background-color: white;
    font-weight: bolder;
    color: black;
    width: 200px;
    height: 45px;
}